{% extends "csas/csas_entry_form.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}

{% block body_js %}
<script>
    $("#id_quarter").change(function() {
	    val = $(this).val();

        $("#id_month").children().each(function() {
		    $(this).show();
		});


		if ( val == 1 ) {
		    $("#id_month").children().each(function() {
			    if( $(this).val() < 4 || $(this).val() > 6 ){
				    $(this).hide();
				}
			});
		} else if ( val == 2 ) {
		    $("#id_month").children().each(function() {
			    if( $(this).val() < 7 || $(this).val() > 9 ){
				    $(this).hide();
				}
			});
		} else if ( val == 3 ) {
		    $("#id_month").children().each(function() {
			    if( $(this).val() < 10 || $(this).val() > 12 ){
				    $(this).hide();
				}
			});
		} else if ( val == 4 ) {
		    $("#id_month").children().each(function() {
			    if( $(this).val() > 3 ){
				    $(this).hide();
				}
			});
		}
	}
    );
</script>

<script>
    $("#id_location_prov").change(function() {
	    val = $(this).val();

        $("#id_location_city").children().each(function() {
		    $(this).show();
		});

		if ( val == 1 ) {
		    $("#id_location_city").children().each(function() {
			    if( $(this).val() < 11 || $(this).val() > 19 ){
				    $(this).hide();
				}
			});
		} else if ( val == 2 ) {
		    $("#id_location_city").children().each(function() {
			    if( $(this).val() < 21 || $(this).val() > 29 ){
				    $(this).hide();
				}
			});
		} else if ( val == 3 ) {
		    $("#id_location_city").children().each(function() {
			    if( $(this).val() < 31 || $(this).val() > 39 ){
				    $(this).hide();
				}
			});
		} else if ( val == 4 ) {
		    $("#id_location_city").children().each(function() {
			    if( $(this).val() < 41 || $(this).val() > 49 ){
				    $(this).hide();
				}
			});
		} else if ( val == 5 ) {
		    $("#id_location_city").children().each(function() {
			    if( $(this).val() < 51 || $(this).val() > 59 ){
				    $(this).hide();
				}
			});
		} else if ( val == 6 ) {
		    $("#id_location_city").children().each(function() {
			    if( $(this).val() < 61 || $(this).val() > 69 ){
				    $(this).hide();
				}
			});
		} else if ( val == 7 ) {
		    $("#id_location_city").children().each(function() {
			    if( $(this).val() < 71 || $(this).val() > 79 ){
				    $(this).hide();
				}
			});
		} else if ( val == 8 ) {
		    $("#id_location_city").children().each(function() {
			    if( $(this).val() < 81 || $(this).val() > 89 ){
				    $(this).hide();
				}
			});
		} else if ( val == 9 ) {
		    $("#id_location_city").children().each(function() {
			    if( $(this).val() < 91 || $(this).val() > 99 ){
				    $(this).hide();
				}
			});
		} else if ( val == 10 ) {
		    $("#id_location_city").children().each(function() {
			    if( $(this).val() < 101 || $(this).val() > 109 ){
				    $(this).hide();
				}
			});
		} else if ( val == 11 ) {
		    $("#id_location_city").children().each(function() {
			    if( $(this).val() < 111 || $(this).val() > 119 ){
				    $(this).hide();
				}
			});
		} else if ( val == 12 ) {
		    $("#id_location_city").children().each(function() {
			    if( $(this).val() < 121 || $(this).val() > 129 ){
				    $(this).hide();
				}
			});
		} else if ( val == 13 ) {
		    $("#id_location_city").children().each(function() {
			    if( $(this).val() < 131 || $(this).val() > 139 ){
				    $(this).hide();
				}
			});
		}
	}
    );
</script>
{% endblock %}