{% extends "grainsize\grainsize_base.html" %}
{% block content %}
<h1>Grainsize database home</h1>
<p>This is the eventual home for DFO Maritime region grainsize data. Data will eventually be stored on DFO Oracle
  servers, however at the moment everything is stored in a local SQLite3 database for development.</p>
<p>Use the navigation bar at the top of this page for navigation to the different database tables used in the database
  and (eventually) some summary statistics and reports</p>
{% endblock %}