{% load static %}
{% load bootstrap4 %}
{% load verbose_names %}
{% load custom_filters %}
{% load i18n %}

{% load humanize %}

<style>
    table, td {
        font-size: small;
    }
</style>

<h4>
    {% trans "Financial Coding:" %}
</h4>
<div class="btn-group">
    <a class="btn btn-sm btn-primary" href="#"
       onclick="return popitup('{% url 'staff:staff_funding' object.id %}','popoutWindow')">
        {% trans "Add Staff Funding" %}
    </a>
</div>

{% if object.om_costs.count == 0 %}
    <em>
        {% trans "No Financial Coding" %}
    </em><br>
{% else %}

    <table class="table table-hover table-sm sortable" style="width: auto">
        <thead>
        <th> </th>
        <th>
            {% trans "Coding" %}
        </th>
        <th>
            {% trans "Amount" %}
        </th>

        </thead>
        <tbody>
        {% for obj in object.staff_funding.all %}
            <tr id="om-{{ obj.id }}"
                    {% if not object.submitted and not report_mode %}
                href="{% url 'staff:index'%}" pop
                data-toggle="tooltip" title="Edit"
                    {% endif %}
                style="background-color: {{ obj.funding_source.color }}">
                <td>
                    <a class="om-delete-me" href="#" val="{{ obj.id }}">
                        <img src="{% static "/admin/img/icon-deletelink.svg" %}" data-toggle="tooltip"
                             title="Delete">
                    </a>
                    <a id="om-secrect-delete-btn-{{ obj.id }}"
                       href="{% url 'staff:index' %}" class="hidden"></a>
                </td>

                <td>{{ obj.financial_coding }}</td>

                <td> {{ obj.funding_amount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
<br>


